<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.digitalchina.xa.it.dao.Single_double_games_lottery_infoDao" >
	<sql id="BASE_TABLE">
		single_double_games_lottery_info
	</sql>

	<sql id="BASE_COLUMN">
		id,name,description,flag,typeCode,winCount,unitPrice,winSumAmount,winDate,winSumPerson,nowSumPerson,nowSumAmount,reward,winner,winTicket,limitEveryday,lotteryTime,backup1,backup2,backup3,backup4,backup5,backup6
	</sql>
	<select id="selectOneSmbTpid" resultType="com.digitalchina.xa.it.model.SingleDoubleGamesInfoDomain">
		SELECT
			<include refid="BASE_COLUMN"/>
		FROM
			<include refid="BASE_TABLE"/>
		WHERE
			flag = 0
		AND
			typeCode = 1
	</select>
	<select id="selectNewOpen" resultType="com.digitalchina.xa.it.model.SingleDoubleGamesInfoDomain">
		SELECT
			id,name,description,winner,winTicket,lotteryTime,backup2,typeCode,backup3,backup1
		FROM
			<include refid="BASE_TABLE"/>
		WHERE
			flag = 1
		ORDER BY
			lotteryTime DESC
		LIMIT  #{count}
			
	</select>

	<update id="updateNowSumAmountAndBackup4">
		UPDATE 
			<include refid="BASE_TABLE"/>
		SET    
			nowSumAmount = nowSumAmount + unitPrice,
			backup4 = backup4 + 1
		WHERE
			id = #{id,jdbcType=INTEGER}
	</update>
	









</mapper>